{% extends 'base.html' %}

{% block title %}
  {{ category.title }} :: {{ block.super }}
{% endblock %}



<!--Початок № 20-->


{% block sidebar %}
<div class="col-md-12">
  <div class="list-group">

    {% for el in categories %}
    <a href="{% url 'category' el.pk %}" class="list-group-item list-group-item-action">{{ el.title }}</a>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block content %}

  {% for el in news %}
  <div class="card mb-3">
    <div class="card-header">
      <p>Категория: {{ el.category }}</p>
    </div>
    <div class="card-body">
      <div class="media">
        {% if el.photo %}
        <img src="{{ el.photo.url }}" alt="Article photo" width="350" class="mr-3">
        {% else %}
        <img src="https://picsum.photos/id/1060/350/235/?blur=2" alt="Article photo" class="mr-3" >
        {% endif %}
        <div class="media-body">
          <h5 class="card-title">{{ el.title }}</h5>
          <p class="card-text">{{ el.content|truncatewords:45 }}.</p>
          <a href="#" class="btn btn-primary">Read more ...</a>
        </div>
      </div>
    </div>
    <div class="card-footer text-muted">
      <p>{{ el.created_at|date:"Y-m-d H:m" }}</p>
    </div>
  </div>
  {% endfor %}

{% endblock %}